/* all */
:root{
    --primary-color: #3F87F5;
    --white: #fff;
    --inter: 'Inter', sans-serif;
    --manrope: 'Manrope', sans-serif;
    --poppins: 'Poppins', sans-serif;
    --roboto: 'Roboto', sans-serif;

}
body{
    font-family: var(--poppins);
}
a, a:hover{
    text-decoration: none;
}
.text_skyBlue{
    color: var(--primary-color);
}
.bg_skuBlue{
    background-color: var(--primary-color);
}
.btn_white{
    color: var(--primary-color);
    background-color: var(--white);
    font-weight: bold;
    padding: 10px 43px;
}
.btn_white:hover{
    background-color: var(--primary-color);
    color: var(--white);
}
.btn_blue{
    background-color: var(--primary-color);
    color: var(--white);
    font-weight: bold;
    padding: 10px 43px;
    border: 2px solid transparent;
}
.btn_blue:hover{
    color: var(--primary-color);
    background-color: var(--white);
    border: 2px solid var(--primary-color);
}
.banner{
    padding-top: 70px;
}
.banner .carousel-item img{
    min-height: calc(100vh - 70px);
}
/* package section */
.package .package_list i{
    font-size: 12px;
    background-color: rgba(82, 67, 194, 0.103693);
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    color: #5243C2;
}
.package .bg_skuBlue .package_list i{
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.103);
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
}
.package .card{
    border-radius: 26px;
}
.package .bg_skuBlue{
    background-image: url(images/icons/watermark.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right center;
}
.package .bg_skuBlue.card{
    box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
    transform: translateY(-40px);
}
/* footer */
footer{
    margin-top: 100px;
    background-color: #0B0D17;
}
footer .footer_cont{
    padding: 60px 0;
}
