/* all */
:root{
    --primary-color: #3F87F5;
    --white: #fff;
    
}


.text_skyBlue{
    color: var(--primary-color);
}
.bg_skuBlue{
    background-color: var(--primary-color);
}

.btn_white{
    color: var(--primary-color);
    background-color: var(--white);
    font-weight: bold;
    padding: 10px 43px;
}

.btn_white:hover{
    background-color: var(--primary-color);
    color: var(--white);
}
.btn_blue{
    background-color: var(--primary-color);
    color: var(--white);
    font-weight: bold;
    padding: 10px 43px;
}

.btn_blue:hover{
    color: var(--primary-color);
    background-color: var(--white);


}

